
mat-toolbar {
    background-color: mat-color(primary, Light);
  }

  mat-toolbar-row {
    background-color: black;
    display: flex;
    height: 64px;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 0;
  }

  a {
    color: skyblue;
    padding: 5px;
    font-size: medium;
    font-weight: 300;
    text-decoration: none;
    }
