<div class="cvv-form-div">
  <iframe name="target" style="display: none"></iframe>
  <form
    id="token-form"
    [formGroup]="paymentMethodTokenForm"
    (ngSubmit)="saveToken($event)"
    [hidden]="paymentMethodTokenFormIsDisplayed"
  >
    <mat-card>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Environment</mat-label>
          <mat-select
            id="environment"
            disableRipple
            placeholder="Environment"
            formControlName="environment"
            type="text"
            value="test"
          >
            <mat-option value="test">Test</mat-option>
          </mat-select>
          <mat-error> Environment is<strong> required.</strong> </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Public key</mat-label>
          <input
            id="public-key"
            formControlName="publicKey"
            class="input-empty"
            placeholder="Public key"
            matInput
            type="text"
          />
          <mat-error> Public key is <strong> required.</strong> </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Payment method token</mat-label>
          <input
            id="token"
            formControlName="paymentMethodToken"
            class="input-empty"
            placeholder="Token"
            matInput
            type="text"
          />
          <mat-icon matSuffix>credit_card</mat-icon>
          <mat-error> Card token is <strong> required.</strong> </mat-error>
        </mat-form-field>

        <mat-card-actions>
          <button
            [disabled]="paymentMethodTokenForm.invalid"
            class="btn"
            id="save-token-btn"
            mat-raised-button
            type="submit"
            (click)="showCvvForm()"
          >
            Save token
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </form>

  <form
    id="cvv-form"
    [formGroup]="cvvForm"
    (ngSubmit)="saveCvv($event)"
    [hidden]="cvvFormIsDisplayed"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>Collect the CVV Code</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>CVV</mat-label>
          <input
            id="cvv"
            class="input-empty"
            formControlName="cvv"
            placeholder="XXX"
            matInput
            type="text"
          />
          <mat-error> Security code is <strong> required.</strong> </mat-error>
        </mat-form-field>

        <mat-card-actions>
          <button
            [disabled]="cvvForm.invalid"
            class="btn"
            id="cvv-btn"
            mat-raised-button
            type="submit"
          >
            Pass cvv code
          </button>
        </mat-card-actions>

        <div id="token-result" style="text-align: center"></div>
      </mat-card-content>
    </mat-card>
  </form>

  <script>
    POS.setEnvironment("test"); // Set your environment
    POS.setPublicKey("99346d84-5186-4221-9c16-dc51a8de27fb"); // Set your public key
  </script>
</div>
