.sandbox-form-div{
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0.5em;
    position: relative;
  }
  
  :host {
      display: start;
      justify-content: center;
      align-items: flex-start;
  }
  
  mat-card {
    padding: 1em;
    margin-bottom: 1em;
    width: min-content;
    color: skyblue;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    }
  
  mat-card-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  
  mat-card-title {
      font-size: xx-large;
      color: skyblue;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  
  mat-card-subtitle {
    font-weight: bold;
  }
  
  mat-card-header {
      font-size: 50px;
      font-family: Helvetica, Arial, sans-serif;
      color: mat-color(primary);
      height: 5vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  
  mat-form-field {
      width: 50vw;
      color: black;
  }
  
  .mat-card>.mat-card-actions:last-child {
      margin-bottom: 0px;
      padding-bottom: 0;
  }
  
  button {
      color: white;
      background-color: skyblue;
  }
  
  
  
  
  form {
      background-color: none;
      text-align: -webkit-center;
  }
  
  button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
  }
  
  span {
      display: none;
  }
  
      .currency-icon {
      vertical-align: super;
  }
  
  .hash-response {
      text-align: left;
  }
  ::ng-deep .mat-progress-bar-fill::after {
      background-color: #1E457C;
  }
  
  ::ng-deep .mat-progress-bar-buffer {
      background: #E4E8EB;
  }
  
  ::ng-deep .mat-progress-bar {
      border-radius: 2px;
  }
  
  .invisible{
      display: block;
      visibility: hidden;
      height: 0;
      width: 0;
  }
  