:host {
    display: start;
    justify-content: center;
    align-items: flex-start;
}

div {
    padding: 0.5em;
    text-align: -webkit-center;
}

body {
    background: whitesmoke;
}

.mat-list-item-content {
  padding: 0!important;
}

.no-wrap {
    word-wrap: break-word;
    white-space: pre-wrap;
}

mat-card {
    padding: 1em;
    width: min-content;
    color: skyblue;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

mat-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

mat-card-title {
    font-size: xx-large;
    color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

mat-card-header {
    font-size: 50px;
    font-family: Helvetica, Arial, sans-serif;
    color: mat-color(primary);
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {


span {
    display: none;
    }
}

.currency-icon {
    vertical-align: super;
}
.hash-response {
    text-align: left;
}
::ng-deep .mat-progress-bar-fill::after {
    background-color: #1E457C;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}

.invisible{
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}

mat-list {
    word-break: break-word;
    width: 50vw;
    color: black;
}

.mat-list-item mat-focus-indicator ng-star-inserted {
  height: fit-content;
}

.mat-list-item-content{
  height: min-content;
}
