footer {
  padding: 2px 0px;
  right: 0;
  left: 0;
  bottom: 0;
  width:100%;
  flex-flow: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color:black;

}

a {
  padding: 0.2%;
  color: saddlebrown;
}

body{
  margin: 0;
}

.iconify { width: 28px; height: 28px; }


span {
  color: gray;
  font-size: 1rem;
}

.footer-grid{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
}

.footer-list{
  display: flex;
}



.fa {
  padding: 5px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;

}

.fa-github {
  color: white;
}
